<div class="pull-right">
    {# Export to Excel button #}
    <div class="btn-group" style="margin-right: 10px;">
        <a href="{{ url_for('export_members_excel') }}" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-download-alt"></span> {{ _gettext('Export to Excel') }}
        </a>
    </div>

    {% if admin_view.column_filters %}
    <div class="btn-group">
        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-filter"></i> {{ _gettext('Filter') }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {# Corrected: Add a check for filter_obj.options to ensure it's not None #}
            {% for filter_obj in admin_view.column_filters %}
                {% if filter_obj.options %} {# ADDED CHECK HERE #}
                    {% for op in filter_obj.options %}
                        {#
                            Construct the filter URL using url_for.
                            filter_obj.column.name gives the string name of the column (e.g., 'gender').
                            op[0] gives the operation code (e.g., 'eq', 'like').
                            flt0_2 is typically left empty for dropdown filter links, as the user would then type a value.
                        #}
                        <li><a href="{{ url_for('.index_view', flt0_0=filter_obj.column.name, flt0_1=op[0], flt0_2='') }}">{{ filter_obj.name }} - {{ op[1] }}</a></li>
                    {% endfor %}
                {% endif %} {# END ADDED CHECK #}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if admin_view.column_display_all_relations and admin_view.column_list_all %}
    <div class="btn-group">
        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-th-list"></i> {{ _gettext('Columns') }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for col in admin_view.column_list %}
                <li><a href="{{ admin_view.get_list_url(col) }}">{{ col }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if admin_view.column_export_allowed and admin_view.column_export_list %}
    <div class="btn-group">
        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-export"></i> {{ _gettext('Export') }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for fmt in admin_view.column_export_list %}
                <li><a href="{{ admin_view.get_export_url(fmt) }}">{{ fmt|upper }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
